Repository hak5/bashbunny-payloads, pull requests merged in 2019-06, with the labels that each got.

#388 Update dk.json
  languages/dk.json
Labels: enhancement

#382 Change link to https
  README.md
Labels: enhancement

#368 Update Info.ps1
  payloads/library/recon/InfoGrabber/info.ps1
Labels: payload enhancement

#367 Update for Info.ps1
  payloads/library/recon/InfoGrabber/info.ps1
Labels: payload enhancement

#360 Moved screen height and width to configurable options
  payloads/library/prank/90sMode/payload.txt
  payloads/library/prank/90sMode/r.ps1
  payloads/library/prank/90sMode/readme.md
Labels: payload enhancement

#349 Adding Delay to Prank/Startup-Message
  payloads/library/prank/Startup-Message/payload.txt
Labels: payload enhancement

#340 [PAYLOAD UPDATE] psh_DownloadExec Update
  payloads/library/execution/psh_DownloadExec/p.txt
  payloads/library/execution/psh_DownloadExec/payload.txt
  payloads/library/execution/psh_DownloadExecSMB/payload.txt
Labels: payload enhancement

#339 Updated RaZ_ReverseShell
  payloads/library/remote_access/RAZ_ReverseShell/payload.ps1
  payloads/library/remote_access/RAZ_ReverseShell/payload.txt
  payloads/library/remote_access/RAZ_ReverseShell/readme.md
Labels: payload enhancement

#379 Chromeos Enrollment
  payloads/library/general/ChromeOSDeployment/Readme.md
  payloads/library/general/ChromeOSDeployment/payload.txt
Labels: needs_new_header

#377 Create runpayload.sh
  payloads/extensions/runpayload.sh
Labels: needs_new_header
